ClienteWeb/Connected Services/srListar/ReniecService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarCiudadanoDni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCiudadanoDniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCiudadanoDniResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarCiudadanoDniSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCiudadanoDni" />
  </wsdl:message>
  <wsdl:message name="ListarCiudadanoDniSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCiudadanoDniResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="ReniecServiceSoap">
    <wsdl:operation name="ListarCiudadanoDni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar los datos de acuerdo a DNI</wsdl:documentation>
      <wsdl:input message="tns:ListarCiudadanoDniSoapIn" />
      <wsdl:output message="tns:ListarCiudadanoDniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Todo</wsdl:documentation>
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReniecServiceSoap" type="tns:ReniecServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCiudadanoDni">
      <soap:operation soapAction="http://tempuri.org/ListarCiudadanoDni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReniecServiceSoap12" type="tns:ReniecServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCiudadanoDni">
      <soap12:operation soapAction="http://tempuri.org/ListarCiudadanoDni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReniecService">
    <wsdl:port name="ReniecServiceSoap" binding="tns:ReniecServiceSoap">
      <soap:address location="http://eliminadosmine.somee.com/ReniecService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReniecServiceSoap12" binding="tns:ReniecServiceSoap12">
      <soap12:address location="http://eliminadosmine.somee.com/ReniecService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>